@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: #f6fffb;
}

.navbar-links {
	color: #18272F;
  position: relative;
  text-decoration: none;
  cursor:pointer;
}
html {
  scroll-behavior: smooth;
}
.navbar-links::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #1E5128;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navbar-links:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.sidebar{
  cursor:pointer;
}

.mobile-sidebar{
  position:absolute
}